body {
    margin: 0;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    font-size: 16px;
}

/* Toolbar */
div.header {
    margin: 0;
    padding: 0;
    width: 28%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

div.brand {
    margin: 0;
    padding: 1em;
    background-color: yellow;
}

div.brand h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
}

div.brand h1 small {
    font-size: 0.58em;
}

div.toolbar {
    margin: 1em 0 0;
    padding: 0;
}

div.canvas h2,
div.palette h2 {
    margin: 0;
    padding: 0;
    font-size: 1.1em;
}


/* Form inputs */
div.canvas-tool label {
    font-size: 1.1em;
}

div.canvas-tool input[type=number] {
    width: 2em;
    font-size: 1.2em;
    padding: 3px;
    border: 1px solid #ccc;
}

div.canvas-tool input[type=submit] {
    background-color: #000;
    border: 1px solid #ccc;
    font-family: "Courier New", Courier, monospace;
    color: white;
    padding: 4px;
    font-size: 1.2em;
    cursor: pointer;
}

div.palette-tool input[type=color] {
    padding: 0;
    width: 31px;
    height: 31px;
    position: absolute;
    margin-top: -21px;
    border: 1px solid #ccc;
    cursor: pointer;
}



/* Content */
div.content {
    margin-left: 28%;
    padding: 0;
    height: 1000px;
}

div.content img {
    width: 100%;
}

div.content table {
    border-collapse: collapse;
    margin: 0 auto;
}

div.content h3 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.1em;
    line-height: 1.5em;
}

div.content table,
div.content tr,
div.content td {
    border: 1px solid #ccc;
}

div.content tr {
    height: 1em;
}

div.content td {
    width: 1em;
}



/* Display on different screen sizes  */
@media screen and (min-width: 971px) {
    div.canvas,
    div.canvas-tool,
    div.palette,
    div.palette-tool {
        width: 100%;
    }

    div.canvas h2 {
        margin: 3em 0 2em;
    }

    div.palette h2  {
        margin: 1.5em;
    }

    div.palette-tool input[type=color] {
        position: relative;
        width: 62px;
        height: 62px;
        margin: 4em 0 1em;
    }
}

@media screen and (max-width: 970px) {
    div.header {
        width: 100%;
        height: auto;
        position: relative;
        padding-bottom: 0.75em;
    }

    div.content {
        margin-left: 0;
    }

    div.canvas,
    div.canvas-tool,
    div.palette,
    div.palette-tool {
        display: inline-block;
        margin-right: 0.5em;
    }

    div.palette h2 {
        margin-left: 40px;
    }

    div.canvas-tool input[type=submit],
    div.canvas-tool input[type=number] {
        margin-left: 0.3em;
    }
}

@media screen and (max-width: 670px) {
    div.canvas,
    div.canvas-tool,
    div.palette,
    div.palette-tool {
        width: 100%;
    }

    div.canvas h2 {
        margin: 1em 0 1em 0;
    }

    div.palette h2 {
        margin: 0.5em 0 0.5em 0;
    }

    div.palette-tool input[type=color] {
        position: relative;
        margin-top: 1.5em;
        width: 45px;
        height: 45px;
    }

}

/* CSS style guide http://udacity.github.io/frontend-nanodegree-styleguide/css.html */

